/* Fixed header */
header {
  position: fixed;
  top: 0px;
  width: 100%;
}

main {
  margin-top: 130px;
}








/* Make text flow around images */
img {
  float: left;
  clear: both;
}

/* Make articles appear side by side */
article:nth-of-type(odd) {
  float: left;
  max-width: 70%;
}

article:nth-of-type(even) {
  float: right;
  max-width: 25%;
}

/*
footer {
  clear: both;
}
*/

/*
main {
  overflow: hidden;
}
*/

div.clearer {
  clear: both;
}









/* All images should be short */
img {
  height: 300px;
  padding: 10px;
}

/* Pad articles a bit */
article {
  padding: 10px;
}

/* Header / Nav bar */
header, footer {
  background-color: black;
  color: white;
  margin: 0px auto;
}
header h1 {
  padding: 20px;
}
footer p {
  padding: 20px;
}

nav {
  padding: 0 0 1em 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline
}
nav a {
  padding: 1em;
}
nav a:hover {
  background-color: white;
  color: black;
}
